body {
    background-image: url('../imagenes/fondoadmin.png');
      height: 150vh;
      background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat; 
      margin: 0;
      padding: 0;
  }